# TUGAS

Nama: Charderra Eka Bagas Sanjaya

NIM: 20210801088

Prodi: Teknik Informatika

# SOAL 1

Buatlah identitas diri menggunakan pemograman python sederhana

In [1]:
#jawaban soal 1
nama = "Charderra Eka Bagas Sanjaya"
nim = "20210801088"
mata_kuliah = "Machine Learning"
jurusan = "Teknik Informatika"

print("DATA DIRI")
print("Nama : ", nama)
print("Nim : ", nim)
print("Mata Kuliah: ", mata_kuliah)
print("Jurusan : ", jurusan )

DATA DIRI
Nama :  Charderra Eka Bagas Sanjaya
Nim :  20210801088
Perkuliahan:  Machine Learning
Jurusan :  Teknik Informatika

# SOAL 2
Buatlah matriksC dengan orde 2x3, dan nilai yang diberikan pada matriksC adalah sebagai berikut:

Baris 1 Kolom 1, nilai = 1
Baris 1 Kolom 2, nilai = 2
Baris 1 Kolom 3, nilai = 3
Baris 2 Kolom 1, nilai = 4
Baris 2 Kolom 2, nilai = 5
Baris 2 Kolom 3, nilai = 6

In [2]:
#jawaban soal2
matriksC= [[1,2,3],[4,5,6]]
print(matriksC)

[[1, 2, 3], [4, 5, 6]]

# SOAL 3

Buatlah matriks dengan orde 3x2, dengan nilai adalah:

Baris 1 Kolom 1, nilai = 2
Baris 1 Kolom 2, nilai = 2
Baris 2 Kolom 1, nilai = 2
Baris 2 Kolom 2, nilai = 2
Baris 3 Kolom 1, nilai = 2
Baris 3 Kolom 2, nilai = 2

In [4]:
#jawaban soal 3
matriks = [[2,2],[2,2],[2,2]]
print(matriks)

[[2, 2], [2, 2], [2, 2]]

# SOAL 4

Importlah library Numpy

In [5]:
import numpy as np

# SOAL 5

Dengan memanfaatkan library numpy Buatlah matriks dengan menggunakan Library Numpy dengan panjang elemen adalah 32 dan matriks memiliki orde 4x8

In [6]:
#jawaban 5
from numpy import *
matriks = range(32)
matriks = reshape(matriks, (4,8))
print(matriks)

[[ 0  1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14 15]
 [16 17 18 19 20 21 22 23]
 [24 25 26 27 28 29 30 31]]

# SOAL 6

Buatlah matriks dengan menggunakan Library Numpy dengan orde 3x30, dan nilai elemen dimulai dari indeks 1 sampai dengan 5 secara random.

In [7]:
#jawaban 6
import numpy as np
from numpy import *

matriks = np.random.randint(1,5,(3,30))
print(matriks)

[[1 1 1 4 2 1 1 4 4 4 2 3 4 3 4 1 2 1 4 2 3 2 1 4 2 3 1 3 2 3]
 [4 1 1 1 4 1 2 2 1 3 2 3 1 2 3 1 2 1 3 4 3 3 1 3 3 4 3 4 2 1]
 [4 1 1 3 1 1 4 2 2 3 2 4 1 1 4 4 2 3 1 1 3 4 1 2 4 1 1 2 4 4]]